<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.pablo.tpv"
	version 	= "1.0.0">

	<name>TPV</name>

	<description>
		TPV Bar Version 1
	</description>

	<author href="http://www.facebook.com/pablogarcialazaro"
		email="pablomorpheo@gmail.com">
		Pablo Garcia
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
